<p>
  Want to get in touch?
</p>

<div class="row">
  <div class="col-sm-6">
    <ul>
      <li>{{#link-to 'phone'}}Phone{{/link-to}}</li>
      <li>{{#link-to 'email'}}Email{{/link-to}}</li>
    </ul>


    {{#if messageSent}}
      <p>Thank you.  Your message has been sent. Your confirmation number is {{confirmationNumber}}</p>
    {{else}}
      <button class="btn btn-warning" {{action 'sendMessage'}}>Send Secret Message</button>
    {{/if}}
  </div>

  <div class="col-sm-6">
    {{outlet}}
  </div>
</div>
